<ion-view view-title="评论内容">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar nomal-list" ng-repeat="data in post.comments" type="item-text-wrap">
        <img ng-src="http://gravatar.duoshuo.com/avatar/cf664a903aad472c71afb8661fd15448">
        <h2>{{data.content}}</h2>
        <div class="nomal-list-bottom">
          <div class="nomal-list-bottom-left">
            <span>{{data.time}}</span>
          </div>
          <div class="nomal-list-bottom-right">
            {{data.name}}
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer item-input-inset" style="margin-bottom:50px;">
      <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="text" placeholder="评论" ng-keyup="comment($event)" id="commentinput">
      </label>
  </div>
</ion-view>
