<ion-view view-title="博客详情">
  <ion-content>
    <h1>博客内容</h1>
  </ion-content>
  <ion-footer-bar class="bar">
      <div class="buttons">
        <button class="button">
            <i class="icon ion-chevron-left"></i>
        </button>
      </div>
      <div class="buttons">
          <button class="button">
              <i class="icon ion-chevron-down"></i>
          </button>
      </div>
      <div class="buttons">
          <button class="button">
              <i class="icon ion-heart"></i>
          </button>
      </div>
      <div class="buttons">
          <button class="button">
              <i class="icon ion-share"></i>
          </button>
      </div>
      <div class="buttons">
          <button class="button">
              <i class="icon ion-chatbox-working"></i>
          </button>
      </div>
  </ion-footer-bar>
</ion-view>
