<ion-view view-title="发现">
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="搜索" ng-keyup="search($event)" id="searchinput">
        </label>
    </div>
    <ion-content style="margin-top: 30px;">
        <p style="margin-top:30px;text-align:center;color:#aaa;" ng-if="data.length == 0">不是我瞎说，真没搜到东西。要不再试试？</p>
        <ion-list ng-if="data.length != 0">
          <ion-item class="item-remove-animate item-avatar nomal-list" ng-repeat="post in data" type="item-text-wrap" href="#/tab/search/{{post._id}}">
            <img ng-src="http://gravatar.duoshuo.com/avatar/cf664a903aad472c71afb8661fd15448">
            <h2>{{post.title}}</h2>
            <div class="nomal-list-bottom">
              <div class="nomal-list-bottom-left">
                <i class="ion-ios-heart-outline"></i>
                <span>23&nbsp;&nbsp;&nbsp;</span>
                <i class="ion-ios-chatbubble-outline"></i>
                <span>{{post.comments.length}}</span>
              </div>
              <div class="nomal-list-bottom-right">
                {{post.name}}
              </div>
            </div>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
