<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="精选" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="订阅" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  <!-- Add Tab -->
  <ion-tab title="发布" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose-outline" ng-click="login()">

  </ion-tab>
  <!-- Card Tab -->
  <ion-tab title="搜索" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/card">
      <ion-nav-view name="tab-card"></ion-nav-view>
  </ion-tab>
  <!-- Account Tab -->
  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
